body{
    padding:0;
    margin:0;
    border:none;
}
#maincontainer{
    margin:0;
    padding:0;
    border:0;
}
#sub-form{
    width:100%;
    background-color:rgba(255, 255, 255, 0.178);
    margin-top:80px;
    border-radius: 4px;
    padding:20px;
}
#sub-form input{
    margin-top:10px;
    margin-bottom:10px;
    width:60%;
}
#first-column{
    padding:30px;
}
.section{
    padding:0;
    margin:0;
    border:none;
}
#second-section{
    padding:0 0 0 0;
    margin:0;
}
#second-section h5{
    margin-top:0;
}
#first-section .row{
    width:90%;
}
#navigation{
    padding:2px;
    margin-left:;
}
#track{
    width:60%;
    margin:auto;
}
#track table{
    width:100% !important;
}

#track td,#track th{
    text-align:center !important;
    padding:15px 2px;
    border-radius: 0;
}
#navigation a{
    padding:2px;
}

#signin{
    height:100vh;
    padding:40px;
    padding-bottom:100px;
}
.signin{
    margin-bottom:60px;
}
#signin-form{
    padding:50px;
    width:40%;
    margin:auto;
    border-radius: 4px;
    background-color:rgba(255, 255, 255, 0.178);
}
#signin-form input{
    margin:15px;
    width:80%;
}
#dashboard{
}
#today{
    padding-bottom:200px;
}
#adminpage{
    padding-top:10vh;
    padding-bottom:100px;
}
#adminform{
    margin:auto;
    text-align:center;
}
#adminform input{
    width:13%;
}
#admin-signin{
    width:60%;
    margin:auto;
}
#admin-login{
    height:100vh;
}
.main-container{
    background-image:url(../images/indeximage.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}
.black-overlay{
    background-color:rgba(0, 0, 0, 0.699);
}
.homefooter{
    width:100%;
    margin:50px 0 0 0;
    padding:20px;
    display: inline-block;
}
.homefooter span{
    padding:5px;
}
.c-btn{
    border:1px solid #00c848 !important;
    border-radius:300px!important;
    background-color:rgba(255, 255, 255, 0) !important;
    color:#ff7a00 !important;
}
.c-btn:hover{
    border-radius:300px!important;
    background-color:#ff7a00 !important;
    color:white !important;
    border:none !important;
}
.logo{
    margin-left:8%;
}
.logo-img{
    width:20%;
}
.homelinks{
    margin-left:55%;
    top:-40px !important;
    position: relative;
}
.homebrag{
    font-size:20px;
}
.recordhead{
    background-color:rgba(255, 255, 255, 0.651);
}
.record{
    background-color:rgba(255, 255, 255, 0.068);
}
.read{
    padding:2% 10% 10% 10%;
}
@media screen and (max-width:500px){
    #track{
        width:90%;
    }
    #navigation{
        margin-left:;
    }
    #signin-form{
        width:98%;
    }
    #adminform input{
        width:30%;
    }
    .homebrag{
        font-size:16px;
    }
    .logo{
        margin-left:8%;
    }
    .logo-img{
        width:30%;
    }
    .homelinks{
        top:-10px !important;
        margin-left:15%;
    }
}

/*subscribe page*/
.paysection{
    padding:20px;
    margin:0 0 0 0;
}
.logout{
    padding:20px 0 0 0;
    margin:0 0 0 0;
    color:white !important;
}
@media screen and (max-width:500px){
    .paysection{
        width:100%;
    }
}

/*service page*/
.service{
    background-image: url(../images/indeximage.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    padding:0;
    margin:0;
}
.nav{
    padding-top:20px;
    margin-top:0;
    margin-left: 80%;
}
.nav span{
    padding:6px;
}
@media screen and (max-width:500px){
    .nav{
        margin-left:38%;
    }
}

/*admin page*/
.tablespace{
    margin:50px 0 50px 0 !important;
}
.subscribeuser{
    padding:60px;
    margin:auto;
    width:60%;
}
.winnings{
    margin:50px 0 0 0;
}
@media screen and (max-width:500px){
    .subscribeuser{
        width:100%;
    }
}