<!--first part-->
<div id="first-section" class="blue-grey white-text section">
<!--navigation part-->
<div id="navigation" class="blue-black white-text">
  <a href="">contact</a>
  <a href="">policy</a>
  <a href="#signin">signin</a>
</div>

  <div class="row">

    <div id="first-column" class="col l6">
        <p>Predict</p>
      <h2>Get high converting odds and cash out big</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
         Reiciendis voluptas repellat totam eligendi nesciunt, dolores dolorum ad velit voluptatibus,
         mollitia culpa quam quia harum sapiente consequuntur rerum ea officiis id</p>
         <div class="btn">Features</div>
         <div class="btn"><a href="#signin" class="white-text">Signin</a></div>
    </div>

    <div class="col l6 center">
      <form ng-submit="register()" id="sub-form" class="center">
        <h5>Get started</h5>
        <input ng-model="formdata.fullname" type="text" class="center" placeholder="Your Full name" required>
        <input ng-model="formdata.email" type="email" class="center" placeholder="Email address" required>
        <input ng-model="formdata.mobile" type="text" placeholder="Mobile Number" class="center" required>
        <input ng-model="formdata.password" type="password" class="center" placeholder="Password" required>
        <input ng-model="formdata.confirmpassword" type="password" class="center" placeholder="Confirm Password" required>
        <input type="submit" class="btn" value="sign up">
        <div id="message" class="{{feedback.class}} center">{{feedback.message}}</div>
        <p>Already have an account <a href="#signin" style="color:white"><u>signin</u></a></p>
      </form>
    </div>

  </div>
</div>
<!--second part-->
<div id="second-section" class="blue-grey white-text section center">
  <h5>Our track record</h5>
  
        <table id="track" class="white blue-grey-text">
            <tr class="black white-text">
                <td>Date</td>
                <td>Time</td>
                <td>Game</td>
                <td>Prediction</td>
                <td>Odds</td>
                <td>Result</td>
              </tr>
          <tr ng-repeat="track in tracks">
            <td>{{track.date}}</td>
            <td>{{track.time}}</td>
            <td><span><b>{{track.league}}</b></span><br/>{{track.game}}</td>
            <td>{{track.prediction}}</td>
            <td>{{track.Odds}}</td>
            <td class="green white-text">{{track.result}}</td>
          </tr>
          </table>

</div>