<div>
    <div id="navigation">
        <ul class="nav">
            <span><a href="" ng-click="logout()">logout </a></span>
            <span><a href="">{{daysleft}}<b> days left</b></a></span> 
        </ul>
    </div>
    <div id="feeds">
        <h2 class="center">Todays Predictions</h2>
        <div id="today">
                <div id="track" class="center">
                    <h4>Low odd Tips</h4>
                        <table>
                                <tr class="black white-text">
                                        <td>Date</td>
                                        <td>Time</td>
                                        <td>Game</td>
                                        <td>Prediction</td>
                                        <td>Odds</td>
                                      </tr>
                          <tr ng-repeat="cast in casts">
                            <td>{{cast.date}}</td>
                            <td>{{cast.time}}</td>
                            <td><span><b>{{track.league}}</b></span><br/>{{cast.game}}</td>
                            <td>{{cast.prediction}}</td>
                            <td>{{cast.Odds}}</td>
                          </tr>
                        </table>

                        <h4>2+ Odd Tips</h4>
                        <table>
                                <tr class="black white-text">
                                        <td>Date</td>
                                        <td>Time</td>
                                        <td>Game</td>
                                        <td>Prediction</td>
                                        <td>Odds</td>
                                      </tr>
                            <tr ng-repeat="cast in casts">
                              <td>{{cast.date}}</td>
                              <td>{{cast.time}}</td>
                              <td><span><b>{{track.league}}</b></span><br/>{{cast.game}}</td>
                              <td>{{cast.prediction}}</td>
                              <td>{{cast.Odds}}</td>
                            </tr>
                          </table>

                          <h4>Midnight stake</h4>
                          <table>
                                <tr class="black white-text">
                                        <td>Date</td>
                                        <td>Time</td>
                                        <td>Game</td>
                                        <td>Prediction</td>
                                        <td>Odds</td>
                                      </tr>
                              <tr ng-repeat="cast in casts">
                                <td>{{cast.date}}</td>
                                <td>{{cast.time}}</td>
                                <td><span><b>{{track.league}}</b></span><br/>{{cast.game}}</td>
                                <td>{{cast.prediction}}</td>
                                <td>{{cast.Odds}}</td>
                              </tr>
                            </table>

                            <h4>Other Predictions</h4>
                            <table>
                                    <tr class="black white-text">
                                            <td>Date</td>
                                            <td>Time</td>
                                            <td>Game</td>
                                            <td>Prediction</td>
                                            <td>Odds</td>
                                          </tr>
                                <tr ng-repeat="cast in casts">
                                  <td>{{cast.date}}</td>
                                  <td>{{cast.time}}</td>
                                  <td><span><b>{{track.league}}</b></span><br/>{{cast.game}}</td>
                                  <td>{{cast.prediction}}</td>
                                  <td>{{cast.Odds}}</td>
                                </tr>
                              </table>
                </div>
              </div>
          </div>
</div>  