<div class="center read">
                <span><a href="#/home">Home</a></span>
    <h2>Terms and Conditions</h2>
    <p>
        By using predictions and betting tips on matchprediction.com or any other of our accounts and/or signing up on the website,
        you agree to be bound by and to comply with  our terms and conditions. Hence our privacy policy,our liabity,
        other provisions and the applicable rules for our betting products.
    </p>
    <h4>Please read the Terms carefully and if you do not agree to the the terms, do not use the website. 
        </h4>
    <p>
            Betting predictions, tips, analysis, and statistics published on matchreveal.com are our own recommendation and ultimately our own opinions. They are not definite or ‘no lose’ secured predictions. Every user of matchreveal.com bets at his own risk.

    </p>
    <p>
            At matchreveal.com, we advise and encourage you to bet "with sense". Please do not bet more than you can afford to lose. Hence matchreaveal.com would not be held responsible for user actions of our site. Any gain incurred through gambling is the sole responsibility of the user. We do not grant refunds for payments made.
    </p>
    <p>
            Betting is illegal in some countries, or areas of countries, thus, we encourage all users to comply with the governing regulations in their province. It is the responsibility of users to act in accordance with their local laws. Reproduction and lifting of materials such as tips, analysis and strategies on matchreveal.com is prohibited. If you'd prefer to reproduce any of the original material on the site please contact us and your request would be blithely thought of.

    </p>
    <p>
            Bet codes of events (if any) on the site belongs strictly to our affiliate book makers. Users would be duly advised as to specific sites the codes relate to. Any opinions expressed here about not limited to strategy, bookmarks, and sports predictions, are solely opinions and are not meant to be representative of a wider, inferred population. Matchreveal.com does not publish sport fixtures or fixture lists, and has no intention to do so at present. To the best of our knowledge we do not breach copyright on fixtures publication on book makers, nor do hold any license to publish fixtures. If you do believe that any data published on matchreveal.com is in breach of copyright please contact us immediately
    </p>
    <p>
            Matchreveal does not accept any liability for any damages, liabilities or losses which are deemed or alleged to have arisen out of or in connection with services, picks and predictions on website or its affiliates. While Matchreveal endeavor to ensure that the information on the website is correct, Matchreveal does not warrant the accuracy or completeness of the information that is out of date. Matchreveal.com is under no obligation to update such material. The information and material on the website are provided “as is”, without any conditions, warranties or other terms of any kind.  Accordingly, to the maximum extent permitted by law, Matchreveal provides you with the Website on the basis that Matchreveals excludes all representations, express or implied warranties, conditions and other terms which but for these terms and conditions might have effect in relation to the website.
    </p>
    <p>
            Matchreveal ensures that all information presented on its site is accurate and up to date. Matchreveal.com would not be held responsible for users’ individual discretional calculations or accumulations as we provide accumulations in our Accumulator category. By viewing or using Predictions and Betting tips on Matchreveal website or any of our affiliate sites, pages, accounts and/or signing up on the website, you agree to be bound by and to comply with our terms and conditions. By creating and profile signing up to use the Matchreveal.com you hereby agree to abide by the terms and conditions summarized therein. Also by signing up, you have entrusted us with your emails and subscription details, we are therefore obligated to protect the information of our users.

    </p>
    <p>
            These Terms and Conditions, the Privacy Policy, the Cookies Policy, the Rules and any document expressly referred to in them and any guidelines or rules posted on the Website constitute the entire agreement and understanding of the parties and supersede any previous agreement between the parties relating to their subject matter. You acknowledge and agree that in entering into and agreeing to these Terms and Conditions, the Privacy Policy, the Cookies Policy, the Rules and any document expressly referred to in them and any guidelines or rules posted on the Website you do not rely on, and shall have no remedy in respect of, any statement, representation, warranty, understanding, promise or assurance (whether negligently or innocently made) of any person (whether party to this agreement or not) other than as expressly set out therein. Nothing in this clause shall operate to limit or exclude any liability for fraud or fraudulent misrepresentation.

    </p>
    <p>
            In no event will any delay, failure or omission (in whole or in part) in enforcing, exercising or pursuing any right, power, privilege, claim or remedy conferred by or arising under these Terms and Conditions or by law, be deemed to be or construed as a waiver of that or any other right, power, privilege, claim or remedy in respect of the circumstances in question, or operate so as to bar the enforcement of that, or any other right, power, privilege, claim or remedy, in any other instance at any time or times subsequently.

    </p>
    <p>
            If any provision of these Terms and Conditions is found by any court or administrative body of competent jurisdiction to be invalid or unenforceable, such invalidity or unenforceability shall not affect the other provisions of these Terms and Conditions which shall remain in full force and effect.
            Nothing in these Terms and Conditions shall create or be deemed to form a partnership, joint venture or principal-agent relationship between the parties and no party shall have authority to bind any other in any manner unless expressly provided otherwise in these Terms and Conditions.
            Matchreveal shall not be in breach of these Terms and Conditions nor liable for delay in performing, or failure to perform, any of its obligations if such delay or failure results from events, circumstances or causes beyond its reasonable control including (without limitation) any telecommunications network failures, power failures, failures in third party computer hardware or software, fire, lightning, explosion, flood, severe weather, industrial disputes or lock-outs, terrorist activity and acts of government or other competent authorities. In such circumstances the time for performance shall be extended by a period equivalent to the period during which performance of the obligation has been delayed or failed to be performed.
            
    </p>
    <h4>Disclaimer Notice</h4>
    <p>
            Matchreveal.com is not a bookmaker, betting site and does not collect bets. We provide predictions, techniques, guides, help and recommendations as we try to make them as accurate as possible are subject to errors, Matchreveal is not paid to post predictions.
            Predictions must be considered as recommendations and not incitement to bet, Remember that gambling should be considered as entertainment. Matchreveal user is solely responsible for his actions and his decisions and in no event shall the site and its employees can be held responsible for the information included on Matchreveal.com.
            Matchreveal will not be liable for any loss of money or anything else that may result from the use of the information on Matchreveal.com.
            Also please note that in some countries there's restrictions on sports betting and it's the sole responsibility of the user / visitor to check and find out about these regulations.
            We reserve the right to discretion, without prior notice, to do changes and corrections to this site. The images, except where otherwise indicated, are taken directly from the web, if some images were inserted by mistake violating the copyright, please contact the administrator for immediate removal.
            By opting to receive sports predictions and tips, you accept that all Matchreveal’s predictions and tips are for informational purposes only and that Matchreveal take no responsibility for any loss incurred by you the subscriber, as a direct result of acting upon received Matchreveal’s information. We don't encourage gambling in any type of form.Users under 18 years old must seek parental consent.
            
    </p>
</div>